/* body {
  background: #323232;
  color: white;
}

* {
  color: white;
} */

#page-title {
  display: block;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
}

/* .registerForm {
  color: red !important;
} */

.form-control {
  width: 500px;
  margin: 40px auto;
}
